:root {
  --color-button-green: #bbf330;
  --color-dark-green: #7eb101;
  --color-yellow-main: #ffe550;
  --color-black: #2c2c2c;
  --color-white: #fefefe;
  --color-shadow-fruit: radial-gradient(#2f583f2f 0%, #69696969 100%);
  --color-2: #a7ce47ff;
  --color-текст: #3d3d3dff;
  --color-текст-2: #969696ff;
  --color-текст-3: #4a4a4aff;
  --color-grad-1: linear-gradient(to bottom, #fe88b3fe 0%, #ff4d8dff 100%);
  --color-grad-2: linear-gradient(
    to bottom,
    #fdfdfdfd 0%,
    #fff5f9ff 23.87%,
    #fe88b3fe 100%
  );

  --primary-font-family: 'Roboto', sans-serif;
  --primary-text-color: var(--color-black);
  --accent-text-color: var(--color-button-green);
  --button-background-color: var(--color-button-green);
  --button-secondary-background-color: #fff;
  --button-border-color: var(--color-dark-green);
  --button-accent-border-color: #ffe450;
  --primary-background-color: var(--color-yellow-main);
  --secondary-background-color: var(--color-white);
  --input-placeholder-text-color: #505050;
}

.effect-style-meny-shadow {
  box-shadow: 0px 4px 24px #6969691a;
}
.effect-style-arrow-shadow {
  box-shadow: 0px 4px 4px #0000000f;
}
.effect-style-futter-shadow {
  box-shadow: 0px -4px 24px #6969691a;
}
.effect-style-button-1 {
  box-shadow: inset 0px -4px 10px #d3336da3, inset 0px 4px 10px #db477ca3;
}
.effect-style-button-1 {
  box-shadow: inset 0px -4px 10px #d3336da3, inset 0px 4px 10px #db477ca3;
}
.effect-style-button-2 {
  box-shadow: inset 0px -4px 6px #8daf38e6, inset 0px 4px 6px #8daf38e8;
}
.effect-style-button-2 {
  box-shadow: inset 0px -4px 6px #8daf38e6, inset 0px 4px 6px #8daf38e8;
}
/* *::before,
*::after {
  box-sizing: border-box;
} */
*,
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  /* margin-left: auto; */
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* ===============COMPONENT================= */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-family: inherit;
}
/* ========================COMPONENT========== */
.container {
  display: block;
  max-width: 1280px;
  padding: 0px 16px;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  background-color: var(--button-secondary-background-color);
  outline: 2px dashed #f44336;
}

.order-button {
  background-color: var(--button-background-color);
  font-size: 13px;
  font-weight: 500;
  border: 0px;
  border-radius: 30px;
  min-width: 98px;
  height: 32px;
  padding: 6px 18px;
  line-height: 1.5;
}

.order-button:focus,
.order-button:hover {
  cursor: pointer;
  background-color: var(--primary-background-color);
}

.second-level-header {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
}
.third-level-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
}

/* ===================HEADER===================== */
.page-header > .container {
  display: flex;
  align-items: center;
}
.navigation-menu {
  display: flex;
  outline: 2px dashed green;
}

.page-header .order-button {
  margin-left: 30px;
}

.navigation-menu-item:not(:last-child) {
  margin-right: 28px;
}

.navigation-menu-link {
  display: block;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;

  padding-top: 28px;
  padding-right: 0px;
  padding-bottom: 28px;
  padding-left: 0px;
  outline: 2px dashed #f44336;
}
.navigation-menu-link:hover,
.navigation-menu-link:focus {
  font-weight: 700;
  text-decoration: underline;

  color: var(--accent-text-color);
}

.logo {
  margin-right: auto;
}

.navigation {
}
/* ================================HERO=============== */
.hero > .container {
  display: flex;
  justify-content: space-between;
}
.text-block {
}
.text-block-header {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
}

.hero-left-side {
  margin-top: 159px;
  margin-bottom: auto;
  padding-top: 0;
  max-width: 511px;
  outline: 2px dashed #0ed467;
}

.hero-left-side > .order-button {
  margin-left: 0;
  margin-right: auto;
}

.text-block-paragraph {
  margin-top: 28px;
  margin-bottom: 40px;
}

.hero-right-side {
  outline: 2px dashed red;
}

.hero-image {
  margin: 40px;
  border-radius: 269px;
}
/* =====================OFFERINGS============= */
.offerigns {
}
.offerings > .container {
  display: flex;
  justify-content: space-between;
  margin-top: -161px;
}
.offerings-image {
  border-radius: 262px;
}
.offerings-left-side {
  margin-top: auto;
  margin-left: 84px;
  margin-bottom: 145px;
  margin-right: auto;
  outline: 2px dashed red;
}
.offerings-right-side {
  max-width: 573px;
  margin-top: 260px;
  margin-left: auto;
  margin-bottom: 79px;
  margin-right: 35px;
  text-align: left;
  outline: 2px dashed red;
}
.offerings-header {
  margin-bottom: 20px;
}
.offerings-text-paragraph {
  margin-bottom: 40px;
}
.offerigns-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.offerigns-item {
  margin-top: 0;
  max-width: 253px;
}

.offerigns-item::before {
  content: '';
  height: 56px;
  display: block;
  /* margin-right: auto; */
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #0ed467;
}

.offerigns-item:nth-child(1):before {
  background-image: url(../images/icondeliv.svg);
}
.offerigns-item:nth-child(2):before {
  background-image: url(../images/iconorder.svg);
}
.offerings-item-icon {
  margin-right: auto;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 8px;
}
.offerigns-item-title {
  margin-top: 0;
  margin-bottom: 20px;
}
.offerigns-item-text {
  font-size: 14px;
  line-height: 1.5;
}
.offerings .order-button {
  background-color: var(--button-secondary-background-color);
  border: 2px solid var(--button-border-color);
}
.offerings .order-button:hover,
.offerings .order-button:focus {
  background-color: var(--button-background-color);
  border: 2px solid var(--button-background-color);
}

/* =================FAVORITES============= */
.favorites {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.favorite-header {
  margin-bottom: 20px;
  line-height: 1.17;
}

.favorites-text {
  margin-bottom: 55px;
  line-height: 1.19;
  outline: 2px dashed red;
}
.favorites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  outline: 2px dashed red;
}
.favorites-list-item {
  background-image: url(../images/circle.svg);
}
.favorites-list-item-image {
  margin-top: 41px;
  margin-right: 40px;
  margin-bottom: 41px;
  margin-left: 40px;
  border-radius: 50%;
}
/* ====================CUSTOMER SAY============ */
.customer {
  text-align-last: left;
  padding-top: 100px;
  padding-bottom: 200px;
}
.customer-block {
  width: 1141px;
  outline: 2px dashed green;
}
.customer-header {
  line-height: 1.07;
  margin-bottom: 20px;
}

.customer-text {
  line-height: 1.19;
  margin-bottom: 32px;
}
.customer-list {
  display: flex;
}

.customer-list-item {
  width: 501px;
  outline: 2px dashed green;
}

.customer-list-item:first-child {
  margin-right: 139px;
}
.customer-list-item-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  margin-top: 58px;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 40px;
}
.customer-card {
  display: flex;
  width: 160px;
  align-items: center;
  outline: 2px dashed green;
  margin-left: 14px;
  margin-bottom: 14px;
}

.customer-card-left-side {
  margin-top: 2px;
  margin-right: 16px;
  margin-bottom: 2px;
  outline: 2px dashed red;
}
.customer-card-right-side {
  outline: 2px dashed red;
}
.customer-card-name {
  font-weight: 500;
  font-size: 14px;
}

.customer-card-whois {
  font-size: 14px;
}

/* =============SUBSCRIBE================= */

.subscribe .container {
  display: flex;
  justify-content: space-between;
  margin-top: -66px;
}
.subscribe-left-side {
  margin-top: 46px;
}
.subscribe-header {
  margin-bottom: 20px;
}
.subscribe-text {
  width: 532px;
  margin-bottom: 20px;
}
.button-subscribe.order-button {
  width: 103px;
  height: 42px;
  padding: 11px 22px;
}
.input-field-email {
  width: 395px;
  height: 42px;
  margin-right: 32px;
  color: var(--primary-text-color);
  background: var(--secondary-background-color);
  border: 0.854167px solid var(--primary-background-color);
  border-radius: 30px;
}

/* input[type=email]:focus {
  border: 0.854167px solid var(--primary-background-color);
} */

.input-field-email::placeholder {
  text-indent: 11px;
  font-size: 12px;
  color: var(--input-placeholder-text-color);
}

/* ===========================FOOTER=============== */
.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /* min-height: 395px; */
}

.page-footer-menu-logo {
  display: flex;
  width: 530px;
  height: 72px;
  align-items: center;
  /* margin-right: 320px; */
  outline: 2px dashed red;
}

.footer-policy-block {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  height: 14px;

  font-size: 12px;
  line-height: 1.17;

  /* min-width: 1200px; */
  outline: 2px dashed red;
}
.policy-block-list {
  display: flex;
  outline: 2px dashed blue;
}

.policy-block-list-item:not(:last-child) {
  margin-right: 20px;
}
.policy-block-link.link,
.page-footer-after-subscribe-text > .link {
  color: var(--button-border-color);
  text-decoration: underline;
}
.page-footer-subscribe-text {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
}
.page-footer-after-subscribe-text {
  margin-top: 12px;
  font-size: 12px;
  line-height: 1.17;
}
.page-footer .input-field-email {
  margin-right: 13px;
}

.page-footer .button-subscribe {
  background-color: var(--button-secondary-background-color);
  border: 2px solid var(--button-border-color);
}
.page-footer .button-subscribe:hover,
.page-footer .button-subscribe:focus {
  background-color: var(--button-secondary-background-color);
  border: 2px solid var(--button-accent-border-color);
}
